body{
    background-color: rgb(123, 21, 63);
    color:blanchedalmond;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.scene{
    padding:20px;
    height: 450px;
    width: 450px;
    position: relative;
    
}
.grafik {
    fill: transparent;
    stroke: #fff;d
    stroke-width: 4px;
}
#word{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.letter{
    border-bottom: 3px solid yellow;
    font-size: 30px;
    margin: 0 3px;
    height: 40px;
    width: 25px;
    /* display: inline-flex; */
    /* justify-content: center;
    align-items: center; */
}

#popup-container{ 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:none;
    position:fixed;
    align-items: center; 
    justify-content: center;
 
}
#wrong-letters{
    margin-bottom:40px;
}
.popup{
    background-color:rgb(207, 95, 35);
    padding:5px 20px;
    font-size:3rem;
    border-radius:15px;
    text-align: center;
}
.item{
    display:none;
}
#message {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 80px;
    position: absolute;
    bottom: -80px;
    transition: transform 0.4s ease-in-out;
}

#message.show {
    transform: translateY(-80px);
}