body{
    background-color: rgb(10, 59, 67);
    color:blanchedalmond;
}

.scene{
    padding:20px;
    
}
#word{
    display:flex;
}
.letter{
    border-bottom:5px solid rgb(183, 92, 12);
    font-size:30px;
    margin:0 5px;
}

#popup-container{ 
    display:none;
    position:fixed;
    align-items: center; 
    justify-content: center;
 
}
#wrong-letters{
    margin-bottom:40px;
}
.popup{
    background-color:rgb(207, 95, 35);
    padding:5px 20px;
    font-size:3rem;
    border-radius:15px;
    text-align: center;
}
.item{
    display:none;
}